---
---

@charset "utf-8";
// Theme skin
$accent-color: orangered;
$text-color: #bebebe;
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";
$accent-color: orangered;
$text-color: #bebebe;
@import "basically-basic";
